.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ion-padding{
    padding: 20px;
}

ion-content {
    --background: var(--ion-color-light);
}