<ion-card>
  <ion-card-header *ngif="hasHeader">
    <ion-card-subtitle>Last pickup call</ion-card-subtitle>
  </ion-card-header>
  <ion-item lines="none">
    <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
    <ion-label>
      On Hold
      <p>28/02/2025 10:26:00</p>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <p>Created at 27/02/2025</p>
      <p>Notes: we have two bags that are full, one with plastic and the other with glasses Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque rem quod veritatis dolorem vero expedita minima odio aut optio corrupti? Reprehenderit numquam repudiandae ullam, itaque culpa facere deleniti nisi dignissimos!</p>
    </ion-label>
  </ion-item>
  <ion-button *ngif="hasFooter" color="success" fill="clear" size="full">SEE ALL...</ion-button>
</ion-card>