<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://www.pngkit.com/png/full/128-1280585_user-icon-fa-fa-user-circle.png" alt="recicla">
      </ion-avatar>
      <ion-label>
        <h1>Antonio Ruiz</h1>
        <p>Gathered: <span class="money">$00.00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card status="On hold" updatedAt="25/04/2025 10:00:00" createdAt="24/04/2025 10:00:00" notes="we have two bags that are full, one with plastic and the other with glasses Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque rem quod veritatis dolorem vero expedita">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer (click)="goToPickupCalls()">SEE ALL...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add" (click)="newCreatePickupCall()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
